@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Freehand&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background: url("https://images.pexels.com/photos/2911521/pexels-photo-2911521.jpeg?auto=compress&cs=tinysrgb&w=600") repeat-y;
    background-size: cover;
    background-position: center;
    font-family: "Arima", system-ui;
}

.main {
    background: #020e1fd4;
    backdrop-filter: blur(5rem);
    /* background: #ffffffeb; */
}


/* styled scrollbar  */
#styled-scrollbar::-webkit-scrollbar {
    width: 6px;
}

#styled-scrollbar::-webkit-scrollbar-track {
    cursor: pointer;
    background: transparent;
}

#styled-scrollbar::-webkit-scrollbar-thumb {
    background: #0b1729;
    border-radius: 5px;
}

#styled-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #112139;
}